node_modules
package.json
package-lock.json
node
node@13.8.0
20200228/core-js@2.6.11
*.4
20200228/deasync@0.1.19
20200306/fetch_rest.js
20200228/src/index.js
20200228/src/index.html
20200228/json/exercice1.js
20200228/ex3.html
.idea/VisualDon.iml
.idea/vcs.xml
.idea/misc.xml
20200228/src/index.html
.idea/jsLibraryMappings.xml
